.home{
    width: 100%;
    height: 100vh;
    position: relative;
}

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.text h1{
    font-size: 2rem;
    font-weight: 800;
}

.text a{
    margin-top: 10px;
    font-size: 1.3rem;
    font-weight: 800;
    text-decoration: none;
    color: white;
    font-style: italic;
}

.text a:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 8px;
}

@media screen and (max-width: 555px){
    .text h1{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
    }

    .text a{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.1rem;
        padding: 0 0 2rem 0;
    }
}