.header {
    background-color: #F4EAD5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
    width: 95%;
    height: 80px;
    border-radius: 13px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
}

.header span {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    cursor: pointer;
}

.header a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;
}

.header a:hover {
    color: rgb(65, 26, 26);
}

/* responsividade extra 01 */
@media (max-width: 480px) {
    .header span {
        font-size: 1.5rem;
    }
    .header a {
        font-size: 0.95rem;
        padding-inline: 0.5rem;
    }
}

@media (max-width: 380px) {
    .header span {
        font-size: 1.5rem;
    }
    .header a {
        font-size: 0.75rem;
    }
}
