@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Baskerville', serif;
}

body {
  background-image: url("../public/images/wall.jpg");
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* formatacao da barra de rolagem */
body::-webkit-scrollbar {
  width: 13px;                /* largura da barra de rolagem */
  background-color: #222;
}

body::-webkit-scrollbar-track {
  background: rgb(65, 26, 26);           /* cor de fundo da barra de rolagem */
}

body::-webkit-scrollbar-thumb {
  background-color: #F4EAD5;  /* cor do scroll (thumb) da barra de rolagem */
  border-radius: 20px;          /* arredondar o scroll (thumb) */
  border: 3px solid #222;     /* criar um espaco em volta do scroll */
}
